<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Rodrigo Olivera, Cristian Solis, Celeste Miranda y Astor Vargas">
  <meta name="description" content="">
  <link rel="shortcut icon" th:href="@{/iconos/iconoEgg.svg}" type="image/x-icon">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>Perfil</title>
  <style>
    /* Boton flotante TOP */
    .flotante {
      position: fixed;
      bottom: 70px;
      right: 30px;
      z-index: 50000;

    }
    main {
      margin-bottom: 90px;
    }
    .boton {
      background-color: transparent;
      color: #696565;
    }
    .boton:hover {
      border-bottom-color: #2dc3e8;
    }
  </style>
</head>

<body>
  <div th:replace="fragments :: header"></div>
  <div th:replace="fragments ::perfil-header"></div>
  <main class="container">
    <div class="container mt-4">
      <h2>Perfiles encontrados</h2>
      <hr class="mb-4" />
      <div class="alert alert-danger text-capitalize" th:if="${excepcion != null}" th:text="${excepcion}"></div>
      <div class="alert alert-success text-capitalize" th:if="${exito != null}" th:text="${exito}"></div>
      <div class="alert alert-danger text-capitalize" th:if="${error != null}" th:text="${error}"></div>
      <div th:if="${perfiles.isEmpty()}">
        <h5>No se encontro ningun Perfil con ese nombre y apellido :( </h5>
      </div>
      <div th:unless="${perfiles.isEmpty()}">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
          <div class="col-3" th:each="perfilFeed : ${perfiles}">
            <div class="card mb-4 shadow">
              <a th:href="@{/perfil}" th:if="${perfil.id} == ${perfilFeed.id}">
                <div th:if="${perfilFeed.foto != null}" class="card-body text-center my-2">
                  <img class="shadow rounded-circle" th:src="${perfilFeed.foto}" width="165">
                </div>
                <div th:unless="${perfilFeed.foto != null}" class="card-body text-center my-2">
                  <img class="rounded-circle" th:src="@{/Foto/FotoPorDefecto.jpg}" width="165">
                </div>
              </a>
              <a th:href="@{/perfil/mostrar/__${perfilFeed.id}__}" th:unless="${perfil.id} == ${perfilFeed.id}">
                <div th:if="${perfilFeed.foto != null}" class="card-body text-center my-2">
                  <img class="shadow rounded-circle" th:src="${perfilFeed.foto}" width="165">
                </div>
                <div th:unless="${perfilFeed.foto != null}" class="card-body text-center my-2">
                  <img class="rounded-circle" th:src="@{/Foto/FotoPorDefecto.jpg}" width="165">
                </div>
              </a>
              <div class="card-footer">
                <div th:text="|Perfil: ${perfilFeed}|"></div>
                <div th:text="|Residencia: ${perfilFeed.residencia}|"></div>
                <div class="d-flex justify-content-start my-2">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div th:replace=" fragments :: footer"></div>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>