<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Rodrigo Olivera, Cristian Solis, Celeste Miranda y Astor Vargas">
  <meta name="description" content="">
  <link rel="shortcut icon" th:href="@{/iconos/iconoEgg.svg}" type="image/x-icon">
  <link href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>Lista Perfiles</title>
</head>

<body rel="stylesheet" th:background="@{./imagenes/Fondo.jpeg}">
  <!-- INICIO NAVBAR -->
  <!--  <div th:replace="fragments :: header"></div> -->
  <!-- FIN NAVBAR -->
  <div class="container mt-5 main" style="background-color: #F2F4F4;">
    <h1 style="color:rgb(0, 0, 0) ">Listado de Usuarios</h1>
    <hr class="mb-5" />
    <div th:if="${perfiles.isEmpty()}">
      <h5 style="color:rgb(0, 0, 0)">Todavía no hay ningun Perfil cargado. </h5>
    </div>
    <div th:if="${mensaje != null}" class="alert alert-success" th:text="${mensaje}"></div>
    <div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>
    <div th:unless="${perfiles.isEmpty()}" class="table-responsive">
      <table class="table table-hover table-sm table-bordered">
        <thead class="table-secondary text-center">
          <tr>
            <th class="col-md-1 px-md-2" scope="col">Foto de Perfil</th>
            <th class="col-md-1 px-md-2" scope="col">Nombre</th>
            <th class="col-md-2 px-md-2" scope="col">Apellido</th>
            <th class="col-md-1 px-md-2" scope="col">Residencia</th>
            <th class="col-md-1 px-md-2" scope="col">Correo</th>
            <th sec:authorize="hasRole('ADMIN')" class="col-md-2 px-md-2" scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="perfil : ${perfiles}">
            <div th:if="${perfil.foto !=null}" class="col-md-4 d-none d-md-block ml-6 ">
              <td> <img th:src="${perfil.foto}" alt="Perfil" id="fotoPerfil" width="100" class="my-4 "> </td>
            </div>
            <div th:unless="${perfil.foto != null}" class="col-md-4 d-none d-md-block ml-6">
              <td> <img th:src="@{/foto/FotoPorDefecto.jpg}" width="100" class="my-4"> </td>
            </div>
            <td class="col-md-1 px-md-2" style="color:rgb(0, 0, 0)" th:text="${perfil.nombre}"></td>
            <td class="col-md-2 px-md-2" style="color:rgb(3, 3, 3)" th:text="${perfil.apellido}"></td>
            <td class="col-md-1 px-md-2" style="color:rgb(0, 0, 0)" th:text="${perfil.residencia}"></td>
            <td class="col-md-1 px-md-2" style="color:rgb(0, 0, 0)" th:text="${perfil.usuario.correo}"></td>
            <!--     <td class="col-md-1 px-md-2" style="color:rgb(255, 153, 0)" th:text="${libro.ejemplares}"></td> -->
            <td sec:authorize="hasRole('ADMIN')" class="col-md-4 px-md-2 d-flex justify-content-around w-100">
              <div class="d-flex justify-content-start my-2">
                <a th:href="@{/perfil/modificar-perfil/_${perfil.id}_}" class="btn btn-warning btn-sm me-2">Editar Perfil <img th:src="@{/iconos/editar.png}" width="25" role="img" /></a>
                <form th:action="@{/perfil/eliminar-perfil/_${perfil.id}_}" method="POST">
                  <button class="btn btn-danger btn-sm" type="submit">Eliminar Perfil <img th:src="@{/iconos/eliminar.png}" width="25" role="img" /></button>
                </form>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- INICIO FOOTER -->
  <!-- <div th:replace="fragments :: footer"></div> -->
  <!-- FIN FOOTER -->
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>